.information {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.information__info {
  width: 80%;
  max-width: var(--max-width);
  display: grid;
  min-width: 0;
  min-height: 0;

  &__title {
    font-size: 2rem;
  }

  &__subtitle {
    font-size: 1.5rem;
  }

  &__paragraph {
    white-space: pre-line;
  }
}
